@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s all;
}
body {
  background-color: antiquewhite;
  /* color-scheme: dark light; */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

nav {
  font-family: "Ubuntu", sans-serif;
  position: fixed;
  z-index: 999;
  width: 100%;
  background: #191414;
  top: 0;
}
nav ul {
  display: flex;
  list-style-type: none;
  height: 60px;
  background: #191414;
  color: #fff;
  align-items: center;
}
nav ul li {
  padding: 0 12px;
  cursor: pointer;
}
ul li a {
  text-decoration: none;
}
.brand img {
  width: 48px;
  padding: 0 8px;
  user-select: none;
  pointer-events: none;
}
.brand {
  position: relative;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: bolder;
}
.container {
  /* overflow-y: scroll;
  scroll-snap-type: mandatory; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191414;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: auto auto auto;
  min-width: 65%;
  height: auto;
  border-radius: 13px;
  padding: 33px;
  background-image: url("./aset/bg.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.songItem {
  height: 70px;
  display: flex;
  background-color: #fff;
  color: #191414;
  margin: 18px 0;
  justify-content: space-between;
  border-radius: 25px;
  padding: 10px;
  align-items: center;
}
.songItemContainer {
  margin-top: 66px;
}
.songItem img {
  width: 53px;
  border-radius: 8px;
  margin: 0 15px 0;
  border-radius: 50%;
}
.songItemContainer .songItem .songName {
  text-transform: capitalize;
}

.songItem i {
  margin: 0 10px;
}

.bottom {
  z-index: 9999;
  position: sticky;
  width: 100%;
  height: 150px;
  display: flex;
  background-color: #191414;
  bottom: 20px;
  bottom: 0;
  transform: translateY(95vh);
  align-items: center;
  justify-content: space-between;
  color: #fff;
  flex-direction: column;
  margin: 12px 0 0 0;
  padding: 10px;
}
.bottom .progressbar {
  width: 70vw;
  height: 13px;
  -webkit-appearance: none;
  outline: none;
  border-radius: 12px;
  background-color: #312e2e;
  margin: 10px 0 0 0;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}
.progressbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #1db954;
  cursor: pointer;
  border: 4px solid #191414;
  box-shadow: -111007px 0 0 111001px #1db954;
  padding: 5px;
}
.progressbar::-webkit-slider-runnable-track {
  background-color: linear-gradieat();
}
.bottom .icons {
  margin: 6px 0 20px 0;
  cursor: none;
}
.bottom .icons i {
  transition: 0.3s;
  cursor: pointer;
  font-size: 25px;
  margin: 0 5px;
  transition: all 0.3s ease;
}
.bottom .icons i:hover,
.bottom .icons i:focus {
  color: #1db954;
}
.bottom i.green:hover,
.bottom i.green:focus {
  color: #1db954;
  scale: 1.1;
}
.bottom i.green {
  transition: 0.3s;
}
.bottom .green:hover,
.bottom .green:focus {
  color: #1db954;
  scale: 1.1;
}
.bottom label.green {
  transition: 0.3s;
}

.bottom .icons :hover {
  scale: 1.4;
}
.icon {
  cursor: pointer;
  transition: all 0.3s ease;
}
.icon:hover {
  scale: 1.2;
}
.bottom #songTimer {
  font-size: 18px;
}
.bottom .songInfo {
  user-select: none;
  position: absolute;
  left: 15vw;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Varela Round", sans-serif;
}
.bottom .songInfo img {
  user-select: none;
  margin-top: 10px;
  margin-right: 10px;
  width: 35px;
  height: 20px;
  opacity: 0;
  transform: opacity 0.4s ease-in-out;
  pointer-events: none;
}
/* controls */

.bottom .controls {
  display: flex;
  position: absolute;
  right: 15vw;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.bottom .controls i,label {
  margin: 0 5px;
  cursor: pointer;
}
input:active green{
  color: #1db954;
}

 .bottom #soundbar{
 /* width: 40px;
 height: 5px;
 -webkit-appearance: none;
 outline: none;
 border-radius: 12px;
 background-color: #312e2e;
 margin: 10px 0 0 0;
 overflow: hidden;
 box-shadow: inset 0 0 10px rgba(0, 0, 0, 1); */
 display: none;
} #soundbar.active{

 display: block;
}
#shuffleButton.active{
  color: #1db954;
}